{% extends '@App/layout.html.twig' %}

{% block body %}
   <br/>
   <div class="alert alert-danger">Error Page not found 404  - custom</div>

{% endblock %}



   {% block title %}404{% endblock %}


{% block stylesheets %}{% endblock %}
