{% extends '@App/layout.html.twig' %}

{% block body %}
    <br/>
    <div class="alert alert-danger">Something went Wrong</div>

{% endblock %}



   {% block title %}Something went Wrong{% endblock %}


{% block stylesheets %}{% endblock %}
